@media (min-width: 768px){

	.navbar-right {
		float: right!important;
		margin-right: 0px;
	}
}
.navbar-top-links li:last-child {
	margin-right: 0px;
}

.userAvatarContainer{
	height : 200px;
	width : 200px;
	border-radius : 200px;
	border : 2px solid #ccc;
	background-color : #fcfcfc;
	overflow : hidden;
	position : relative;
	margin : 0 auto;
}
.userAvatarContainer > .userAvatarImage{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
}
.userAvatarContainer > .userAvatarText{
	display: block;
	font-size: 110px;
	font-weight: bold;
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -100px;
	line-height: 200px;
	text-align: center;
	color: #ddd;
}
.userAvatarContainer > .userAvatarIcon{
	display: block;
	font-size: 40px;
	width: 200px;
	height: 220px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -100px;
	margin-top: -80px;
	line-height: 200px;
	text-align: center;
	color: #ddd;
}
.userAvatarContainer-mini{
	height : 40px;
	width : 40px;
	border-radius : 40px;
	border : 2px solid #ccc;
	background-color : #fcfcfc;
	overflow : hidden;
	position : relative;
	float : left;
	text-align : center;
}
.userAvatarContainer-mini > .userAvatarImage{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
}
.userAvatarContainer-mini > .userAvatarText{
	display: block;
	font-size: 20px;
	font-weight: bold;
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
	line-height: 40px;
	text-align: center;
	color: #ddd;
}
.userAvatarContainer-mini > .userAvatarIcon{
	display: block;
	font-size: 10px;
	width: 40px;
	height: 50px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -15px;
	line-height: 40px;
	text-align: center;
	color: #ddd;
}
.userAvatarContainer-mini-username span{
	margin-left : 20px;
}
.bold{
	font-weight : bold;
}
.btn-action-page-edit-yolo
{
	float : right;
	margin-top : -5px;
}
@media all and (max-width: 600px) {
	.btn-action-page-edit-yolo
	{
		float : none;
		margin-top : 0px;
	}
}


.userAvatar-undefinded
{
	position : absolute;
	left : 50%;
	margin-left : -50%;
	top : 12px;
	height : 200px;
	width : 200px;
}
.action-img-page-list{
	float : right;
	margin-left : 20px;
	margin-right : 40px;
}
.action-img-page-list span {
	margin-left : 10px;
	margin-right : 10px;
}
table.table-page-list {
	border-spacing: 0; /* "Simulation" de border-collapse */
	border-collapse:  separate;
	overflow: hidden;
}
.table-page-list tr td{ background-color : #ffffff; vertical-align: middle; }
.table-page-list tr{ vertical-align: middle; }
.table-page-list tr:hover td{ background-color : #eeeeee; }
.table-page-list tr th{
	background-color : #ccc !important;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}
.table-page-list tr:hover th{
	background-color : #ccc !important;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #fafafa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eeeeee 0%,#fafafa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eeeeee 0%,#fafafa 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eeeeee 0%,#fafafa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}
.action-img-page-list a span.glyphicon{
	font-size : 20px;
}
.navbar {
	margin-bottom : 0px;
}
.settings-tab{
	width : 100%;
	padding-top : 30px;
	padding-bottom : 10px;
	padding-left : 10px;
	padding-right : 10px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	outline: none;
}
.page-tab{
	width : 100%;
	padding-top : 20px;
	margin-top : 0px;
}

.sidebar-nav a {
	color : #444;
}

.sidebar-nav a:hover {
	color : #111;
}


th.date{
	max-width : 150px !important;
}
.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; color: #333; text-decoration: none; font-weight: bold;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background:         linear-gradient(top, #fafafa 0%, #eee 100%);
    box-sizing: border-box; -moz-box-sizing: border-box;
	list-style-type:none;
	border: 1px solid #ccc;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item div.edit-form{
	padding : 5px;
	padding-top : 7px;
	background-color: #ccc;
	margin-top : -7px;
	text-align : right;

}
.dd-item:hover{
	
}
.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 2px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), 
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}
.arrow-back
{
	font-size:28px;
	color:black;
}
.arrow-back:hover
{
	color:#3264B7;
}

.icon {
	width : 100px;
	height : 70px;
	display : inline-block;
	border : 1px dashed transparent;
	padding-top : 10px;
	padding-bottom : 10px;
	margin-right : 5px;
	
	transition: all 0.3s ease;
}
.icon:hover {border : 1px dashed #ccc; cursor : pointer; background-color : #efefef;}
.icon a {text-decoration : none;}
.icon .row
{

	text-align : center;
}

.selected{
	background-color : #428BCA;
	color : #fff;
}
.selected:hover{
	background-color : #428BCA;
	color : #fff;
}
.picture-icon {
	font-size : 30px;
}
.text-icon {
	font-size : 10px;
}
#file-info{
	font-size : 11px;
}
#preview-file{
	overflow : auto;
	text-align : center;
}
#preview-file img{
	width : auto;
	max-width : 100%;
}
.file-label {
	min-width : 30%;
	display : inline-block;
	font-weight : bold;
}
.action-bar
{
	font-size : 17px;
	margin-top : 40px !important;
}
.fieldset {
	border:1px solid #ccc; 
	display:inline-block; 
	padding: 25px 6px 2px 5px; 
	text-align:center;
	margin-bottom : 15px;
}
.legend {
	font-size : 10px;
	background-color : none;
	padding : 0 2px 0 2px;
	margin-top : -24px;
}
.breadcrumb {
	font-size : 12px;
	margin-top : -20px;
}
.breadcrumb > li + li:before {
    color: #CCCCCC;
    content: "/ ";
    padding: 0 5px;
}
.breadcrumb > li > a:hover{
	cursor : pointer;
}
.hide {
	display : none;
}

.rs-action a {
	padding : 10px 15px;
	line-height: 45px;
}

.rs-action a:hover{
	text-decoration: none;
	background-color: #f5f5f5;
}

#rsexaction .hidden-xs{
	display: inline !important;
}
@media all and (max-width: 700px)
{
	#rsexaction .hidden-xs{
		display: none !important;
	}
	#rsexcontentpane{
		text-align: center;
	}
	.om-box-upload {
		position: fixed;
		left: 0;
		top: 0;
		margin-top: 0;
		margin-left: 0;
		width : 100%;
		height: 100%;
		max-height : none;
		overflow : auto;
		text-align: left;
		z-index: 100100;
	}
	.wrapper{
		margin-left : 5px;
		margin-right : 5px;
		margin-top : 60px;
	}
	
}
.navbar-inverse .navbar-nav  a{
	transition: all 0.2s ease;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	background-color : #000;
}

.multiselect-contener div select{
	width : 100%;
}

.mce-panel {
    background-color: #fff;
    background-image: none;
}

	.sortable-placeholder
	{
		background-color : #ffe476;
	}
	.ui-sortable-helper
	{
		cursor: grabbing;
	}



.sortable-ghost{
	background-color: lightblue;
}

.module-area{
	margin-bottom : 10px;
	border : 1px solid #dddddd;
	min-height : 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.module-area .glyphicon-move {
	cursor: move;
	cursor: -webkit-grabbing;
}
.module-area .list-group{
	min-height: 50px;
	margin-top : -1px;
	margin-bottom: 0px;
}
.module-area .list-group .list-group-item{
	border-radius: 0px;
	border-width: 0 0 1px 0;
	border-color: #dddddd;
	background-color: transparent;
}
.module-area .list-group .list-group-item:last-child{
	border-width: 0;
}
.module-header{
	padding :  0 0 10px 8px;
	font-weight: bold;
	border-bottom : 1px solid #dddddd;
	margin-bottom : 0;
}
.module-area.empty{
	border : 1px dashed #ccc;
	background : #fff;
	box-shadow: none;
}
.module-area > .page-header{
	padding-bottom : 0px;
	padding-left : 10px;
}
.module-area > .page-header > h5{
	text-align : center;
	font-size : 20px;
	color : #000;
	color: #4c4c4c;
	display: inline-block;
	outline: 0 none;
	padding: 3px 4px;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
}
.module-area.empty > .page-header > h5{
	color : #bbb;
}

.module-area .module-list{
	position : relative;
	width : 100%;
	height : 80px;
}

.module-area span.glyphicon-plus {
	position : absolute;
	top : 12px;
	right : 25px;
	font-size : 16px;
}

.module-area.empty span.glyphicon-plus {
	position : absolute;
	text-align : center;
	font-size : 60px;
	width : 30px;
	height : 30px;
	top : 50%;
	left : 50%;
	margin-top : -30px;
	margin-left : -30px;
	color : #bbb;
}
.module-area table tr:hover{
	cursor: move;
}
.module-area span.glyphicon-plus:hover
{
	color : #555;
	cursor : pointer;
}


.component-item
{
	width:100%;
	border : 1px #ddd solid;
	position: relative;
	min-height: 60px;
	margin-bottom : 15px;
}
.component-item-container
{
	position : relative;
	padding: 8px;
	padding-right : 40px;
}
.component-item-actions
{
	position: absolute;
	top : 5px;
	right: 0;
	width : 30px;
}
.component-item-actions .fa{
	font-size: 20px;
	padding : 5px;
}
.component-item-top{
	border-bottom: 1px solid #ddd;
	padding: 8px;
	background-color: #f8f8f8;
}
.component-item-top ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.component-item-top ul li{
	display: inline;
	padding-right: 20px;
}

.component-item-bgcolor{
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-bottom: -2px;
	border: 1px solid #ddd;
}
.component-item-bgcolor.transparent {
	background-image: url('../img/transparency.png');

}

.component-container
{
	width: 100%;
	height: 180px;
	border : 1px solid #ccc;
	position: relative;
	box-shadow: 0 0 5px #ccc;
	transition: box-shadow ease-in-out .15s;
	margin-bottom : 20px;

}
.component-container:hover{
	cursor: pointer;
	box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

.component-container.active {
	box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
	border-color: #555;
}
.component-container > .component-image
{
	height: 140px;
	width:80%;
	margin:10%;
	background-size : 70%;
	background-position: center center;
	background-repeat: no-repeat;
}
.component-container > .component-title
{
	position :absolute;
	bottom : 0px;
	left : 0px;
	width: 100%;
	font-size: 1.5em;
	text-align: center;
	padding-bottom : 10px;
	color : #bbb;
}
.component-container.active > .component-title
{
	color: #555;
}


#loading{
	position : fixed;
	top : 0px;
	left : 0px;
	z-index : 10000;
	width : 100%;
	height : 100%;
	background-color : rgba(255, 255, 255, 0.5);/**/
}
#loading > img{
	position : fixed;
	z-index : 10001;
	left : 50%;
	top : 50%;
	padding : 5px;
	/*background-color : #fff;
    box-shadow: 0 0 10px #000;*/
}
#file-list .selected span, .selected a{
	color: #000;
}

.toolbar{
	padding: 5px;
    z-index : 2000;
    text-align: right;
    float : right;
}

.toolbar.fixed{
    background-color: #f8f8f8;
    position: fixed;
    top : 0;
    width: 100%;
    left : 0;
    float: none;
    border-bottom : 1px solid #e7e7e7;
    padding-right: 45px;
}

@media all and (max-width:768px){
    .toolbar{
        float : none;
    }
    .toolbar.fixed{
        padding-right: 15px;
    }
    #page-wrapper{
        padding : 0;
    }
}


#filelist.table tr td {
	vertical-align: middle;
}
.dropzone
{
	border : 3px dashed #ddd;
	width : 100%;
	text-align : center;
	padding : 20px;
	margin-top : 10px;
	margin-bottom : 10px;
}
.dragover{
	border : 3px dashed #aaa;
}

#execution-time{
	position : fixed;
	top : 0px;
	left : 0px;
	font-size : 11px;
	padding : 2px;
	padding-right : 4px;
	background-color : #fff;
	color : #000;
	z-index : 100000;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
}

.panel .panel-heading .radio{
	padding-top : 3px;
}