body:not(.has-container) .om-wrapper{
    margin: 0 auto;
    width: 75rem;
    max-width: calc(100% - 6rem);
}


#footer section .plugin{
    margin-bottom : 3rem;
}


#banner:after {
    background: linear-gradient(135deg, #1abc9c 0%, #111111 74%);
}

#heading:before {
    background: linear-gradient(135deg, #1abc9c 0%, #111111 74%);
}


.plugin-feature-link,
.plugin-feature-link:hover{
    color : #1abc9c;
}