#main {
    padding: 6em 0 4em 0;
    position: relative;
}


#main > .component-container:first-child{
    padding-top : 1.5em;
}
#main > .component-container:last-child{
    padding-bottom : 4em;
}

#main:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.35;
    z-index: 1;
}

.component-container > .om-wrapper {
    margin: 0 auto;
    width: 80em;
    position: relative;
    z-index: 99;
}
@media screen and (max-width: 1280px) {

    .component-container > .om-wrapper {
        width: 65em;
    }

}

@media screen and (max-width: 980px) {

    .component-container > .om-wrapper {
        width: 90%;
    }

}


#main .inner {
    margin: 0 auto;
    width: 80em;
    position: relative;
    z-index: 99;
}

#main header {
    margin-bottom: 4em;
}

@media screen and (max-width: 736px) {

    #main header {
        margin-bottom: 2em;
    }

}

#main {
    background-color: #333366;
    color: #c1c7cd;
}

#main input, #main select, #main textarea {
    color: #ffffff;
}

#main a {
    color: #ffffff;
}

#main a:hover {
    color: rgba(255, 255, 255, 0.5);
}

#main strong, #main b {
    color: #ffffff;
}

#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
    color: #ffffff;
}

#main blockquote {
    border-left-color: rgba(255, 255, 255, 0.15);
}

#main code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.15);
}

#main hr {
    border-bottom-color: rgba(255, 255, 255, 0.15);
}

#main .box {
    border-color: rgba(255, 255, 255, 0.15);
}

#main input[type="submit"],
#main input[type="reset"],
#main input[type="button"],
#main button,
#main .button {
    background-color: #041625;
    color: #ffffff !important;
}

#main input[type="submit"]:hover,
#main input[type="reset"]:hover,
#main input[type="button"]:hover,
#main button:hover,
#main .button:hover {
    background-color: #06243c;
}

#main input[type="submit"]:active,
#main input[type="reset"]:active,
#main input[type="button"]:active,
#main button:active,
#main .button:active {
    background-color: #02080e;
}

#main input[type="submit"].alt,
#main input[type="reset"].alt,
#main input[type="button"].alt,
#main button.alt,
#main .button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);
    color: #ffffff !important;
}

#main input[type="submit"].alt:hover,
#main input[type="reset"].alt:hover,
#main input[type="button"].alt:hover,
#main button.alt:hover,
#main .button.alt:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

#main input[type="submit"].alt:active,
#main input[type="reset"].alt:active,
#main input[type="button"].alt:active,
#main button.alt:active,
#main .button.alt:active {
    background-color: rgba(255, 255, 255, 0.2);
}

#main input[type="submit"].alt.icon:before,
#main input[type="reset"].alt.icon:before,
#main input[type="button"].alt.icon:before,
#main button.alt.icon:before,
#main .button.alt.icon:before {
    color: #9ba6af;
}

#main input[type="submit"].special,
#main input[type="reset"].special,
#main input[type="button"].special,
#main button.special,
#main .button.special {
    background-color: #ffffff;
    color: #062038 !important;
}

#main label {
    color: #ffffff;
}

#main input[type="text"],
#main input[type="password"],
#main input[type="email"],
#main select,
#main textarea {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.15);
}

#main input[type="text"]:focus,
#main input[type="password"]:focus,
#main input[type="email"]:focus,
#main select:focus,
#main textarea:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}

#main .select-component-container:before {
    color: rgba(255, 255, 255, 0.15);
}

#main input[type="checkbox"] + label,
#main input[type="radio"] + label {
    color: #c1c7cd;
}

#main input[type="checkbox"] + label:before,
#main input[type="radio"] + label:before {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.15);
}

#main input[type="checkbox"]:checked + label:before,
#main input[type="radio"]:checked + label:before {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #062038;
}

#main input[type="checkbox"]:focus + label:before,
#main input[type="radio"]:focus + label:before {
    border-color: #ffffff;
    box-shadow: 0 0 0 1px #ffffff;
}

#main ::-webkit-input-placeholder {
    color: #9ba6af !important;
}

#main :-moz-placeholder {
    color: #9ba6af !important;
}

#main ::-moz-placeholder {
    color: #9ba6af !important;
}

#main :-ms-input-placeholder {
    color: #9ba6af !important;
}

#main .formerize-placeholder {
    color: #9ba6af !important;
}

#main ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.15);
}

#main header p {
    color: #9ba6af;
}

#main table tbody tr {
    border-color: rgba(255, 255, 255, 0.15);
}

#main table tbody tr:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.075);
}

#main table th {
    color: #ffffff;
}

#main table thead {
    border-bottom-color: rgba(255, 255, 255, 0.15);
}

#main table tfoot {
    border-top-color: rgba(255, 255, 255, 0.15);
}

#main table.alt tbody tr td {
    border-color: rgba(255, 255, 255, 0.15);
}

#main.style2 {
    background-color: #041625;
    color: #c0c5c9;
}

#main.style2 input, #main.style2 select, #main.style2 textarea {
    color: #ffffff;
}

#main.style2 a {
    color: #c1c7cd;
}

#main.style2 a:hover {
    color: rgba(193, 199, 205, 0.5);
}

#main.style2 strong, #main.style2 b {
    color: #ffffff;
}

#main.style2 h1, #main.style2 h2, #main.style2 h3, #main.style2 h4, #main.style2 h5, #main.style2 h6 {
    color: #ffffff;
}

#main.style2 blockquote {
    border-left-color: rgba(255, 255, 255, 0.15);
}

#main.style2 code {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.15);
}

#main.style2 hr {
    border-bottom-color: rgba(255, 255, 255, 0.15);
}

#main.style2 .box {
    border-color: rgba(255, 255, 255, 0.15);
}

#main.style2 input[type="submit"],
#main.style2 input[type="reset"],
#main.style2 input[type="button"],
#main.style2 button,
#main.style2 .button {
    background-color: #ffffff;
    color: #041625 !important;
}

#main.style2 input[type="submit"].alt,
#main.style2 input[type="reset"].alt,
#main.style2 input[type="button"].alt,
#main.style2 button.alt,
#main.style2 .button.alt {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);
    color: #ffffff !important;
}

#main.style2 input[type="submit"].alt:hover,
#main.style2 input[type="reset"].alt:hover,
#main.style2 input[type="button"].alt:hover,
#main.style2 button.alt:hover,
#main.style2 .button.alt:hover {
    background-color: rgba(255, 255, 255, 0.075);
}

#main.style2 input[type="submit"].alt:active,
#main.style2 input[type="reset"].alt:active,
#main.style2 input[type="button"].alt:active,
#main.style2 button.alt:active,
#main.style2 .button.alt:active {
    background-color: rgba(255, 255, 255, 0.2);
}

#main.style2 input[type="submit"].alt.icon:before,
#main.style2 input[type="reset"].alt.icon:before,
#main.style2 input[type="button"].alt.icon:before,
#main.style2 button.alt.icon:before,
#main.style2 .button.alt.icon:before {
    color: #9ba2a8;
}

#main.style2 input[type="submit"].special,
#main.style2 input[type="reset"].special,
#main.style2 input[type="button"].special,
#main.style2 button.special,
#main.style2 .button.special {
    background-color: #062038;
    color: #ffffff !important;
}

#main.style2 input[type="submit"].special:hover,
#main.style2 input[type="reset"].special:hover,
#main.style2 input[type="button"].special:hover,
#main.style2 button.special:hover,
#main.style2 .button.special:hover {
    background-color: #082d4f;
}

#main.style2 input[type="submit"].special:active,
#main.style2 input[type="reset"].special:active,
#main.style2 input[type="button"].special:active,
#main.style2 button.special:active,
#main.style2 .button.special:active {
    background-color: #041321;
}

#main.style2 label {
    color: #ffffff;
}

#main.style2 input[type="text"],
#main.style2 input[type="password"],
#main.style2 input[type="email"],
#main.style2 select,
#main.style2 textarea {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.15);
}

#main.style2 input[type="text"]:focus,
#main.style2 input[type="password"]:focus,
#main.style2 input[type="email"]:focus,
#main.style2 select:focus,
#main.style2 textarea:focus {
    border-color: #062038;
    box-shadow: 0 0 0 1px #062038;
}

#main.style2 .select-component-container:before {
    color: rgba(255, 255, 255, 0.15);
}

#main.style2 input[type="checkbox"] + label,
#main.style2 input[type="radio"] + label {
    color: #c0c5c9;
}

#main.style2 input[type="checkbox"] + label:before,
#main.style2 input[type="radio"] + label:before {
    background: rgba(255, 255, 255, 0.075);
    border-color: rgba(255, 255, 255, 0.15);
}

#main.style2 input[type="checkbox"]:checked + label:before,
#main.style2 input[type="radio"]:checked + label:before {
    background-color: #062038;
    border-color: #062038;
    color: #ffffff;
}

#main.style2 input[type="checkbox"]:focus + label:before,
#main.style2 input[type="radio"]:focus + label:before {
    border-color: #062038;
    box-shadow: 0 0 0 1px #062038;
}

#main.style2 ::-webkit-input-placeholder {
    color: #9ba2a8 !important;
}

#main.style2 :-moz-placeholder {
    color: #9ba2a8 !important;
}

#main.style2 ::-moz-placeholder {
    color: #9ba2a8 !important;
}

#main.style2 :-ms-input-placeholder {
    color: #9ba2a8 !important;
}

#main.style2 .formerize-placeholder {
    color: #9ba2a8 !important;
}

#main.style2 ul.alt li {
    border-top-color: rgba(255, 255, 255, 0.15);
}

#main.style2 header p {
    color: #9ba2a8;
}

#main.style2 table tbody tr {
    border-color: rgba(255, 255, 255, 0.15);
}

#main.style2 table tbody tr:nth-child(2n + 1) {
    background-color: rgba(255, 255, 255, 0.075);
}

#main.style2 table th {
    color: #ffffff;
}

#main.style2 table thead {
    border-bottom-color: rgba(255, 255, 255, 0.15);
}

#main.style2 table tfoot {
    border-top-color: rgba(255, 255, 255, 0.15);
}

#main.style2 table.alt tbody tr td {
    border-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 1280px) {

    #main > .inner {
        width: 65em;
    }

}

@media screen and (max-width: 980px) {

    #main > .inner {
        width: 90%;
    }

}

@media screen and (max-width: 736px) {

    #main {
        padding: 3em 0 1em 0;
    }

}


.imagealbum-section .video{
    margin: 0 0 2.7em 0;
}
.imagealbum-detail .video{
    margin: 0 0 2.3em 0;
}
.video .image.fit .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-transform: uppercase;
    font-size : 1.1em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0+0,0.65+50 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0); /* IE6-9 */
}

#main header {
    margin-bottom: 3em;
}


.inner header h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size : 2em;
}

ul.tab-list li a.active,
ul.tab-list li a:hover {
    background: #000;
    color: #fff !important;
}

.imagealbum-detail ul li{
    padding-left : 0;
}
.imagealbum-detail ul li a{
    font-weight: 400;
}

.video .caption p{
    margin : 0;
}